<section class="main-sec">
    <BreadcrumbDoImovel></BreadcrumbDoImovel>

    <div class="imv-content">
        <div class="info-titles">
            <div class="listing-title-bar">
                <h2>Apartamento à venda em Brasília com 205 m², 3 quartos, 3 suítes, 4 vagas</h2>
                <div class="fav-btns">
                    <i class="@heartIconClass" @onclick="ToggleHeartClass" title="Favoritar"></i>
                    <a href="https://www.addtoany.com/share" target="_blank">
                        <i class='bx bx-share-alt'></i>
                    </a>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </div>
            </div>
            <div class="feature-address">
                <a tabindex="0" role="button" class="title-location"><i class='bx bxs-map'></i>SQSS 105</a><span> • </span>Asa Sul, Brasilia-DF
            </div>
        </div>

        <div class="info-details">
            <div class="info-things">
                <div class="info-one">
                    <i class='bx bxs-bed'></i>
                    3 Quartos
                </div>
                <div class="info-one">
                    <i class='bx bxs-bath'></i>
                    3 Suítes
                </div>
                <div class="info-one">
                    <i class='bx bxs-car'></i>
                    2 Vagas
                </div>
                <div class="info-one">
                    <i class='bx bxs-area'></i>
                    200 m²
                </div>
            </div>

            <ul class="details-text">
                <li><b>Casa para Venda</b></li>
                <li><b>Código: <span>12345</span></b></li>
                <li>Área do Terreno: <span>300 m²</span></li>
                <li>Aceita Financiamento: <span>Sim</span></li>
                <li>Aceita Permuta: <span>Não</span></li>
                <li>Posição do Imóvel: <span>Frente</span></li>
                <li>Posição do Sol: <span>Nascente</span></li>
                <li>Condomínio: <span>R$ 250</span></li>
                <li>IPTU: <span>R$ 1.200</span></li>
                <li>Data de Atualização: <span>01/07/2024</span></li>
            </ul>
        </div>

        <div class="line"></div>

        <div class="imv-infos">
            <div class="imv-card">
                <div class="imv-flex">
                    <h3>Descrição</h3>
                </div>
                <div class="discription-text">
                    <p class="span @paragraphClass">Seja bem-vindo ao Luminus Jardins.
                        Os Jardins não são apenas o melhor bairro de São Paulo, mas um estado de espírito. A verdadeira arte de viver bem. É aqui que nasceu um prédio residencial extraordinário. Do endereço, na esquina da Rua José Maria Lisboa com a Avenida Nove de Julho, à proposta arquitetônica, que eleva o conforto a um nível totalmente diferente e exclusivo.
                        O Luminus Jardins é um empreendimento de alto padrão administrado pela JFL Living, empresa reconhecida como melhor administradora para locação de apartamentos de alto padrão do Brasil. O Luminus oferece apartamentos já decorados pelo premiado arquiteto Carlos Rossi e prontos para morar.

                        Nossos Diferenciais:

                        1) Administração do empreendimento pelo JFL Living
                        2) Café da Manhã servido todos os dias na área de Lazer
                        3) Arrumação e limpeza diária já inclusas no condomínio
                        4) Decoração dos apartamentos por Carlos Rossi
                        5) Decoração das áreas comuns por João Armentano
                        6) Thalasso e SPA com hidromassagem e Wellness Chair
                        7) Piscina aquecida com jato de correnteza
                        8) Lavanderia e passadoria com equipamentos industriais
                        9) Espaço fitness com equipamentos Life fitness
                        10) Área para Cross Fit com parede de escalada
                        11) Business Center com sala de reunião compartilhada
                        12) Espaço para Pet Care e Pet Play
                        13) Tomadas USB em áreas comuns e apartamentos
                        14) Todos os apartamentos com pé-direito ampliado
                        15) Fechaduras Biométricas
                        16) Água filtrada em todas as torneiras e chuveiros
                        17) Pontos de carga para carro elétrico
                        18) Todas a garagens em piso Epoxi
                        19) Esquadrias dos dormitórios com tratamento acústico e persiana integrada
                        20) Apartamentos com depósitos privativos
                        21) Guarita Blindada com clausura
                        22) Sala de massagem
                        23) Saunas seca e úmida
                        24) Brinquedoteca
                        móvel

                        Academia
                        Aceita animais
                        Acesso para deficientes
                        Ar-condicionado
                        Área de lazer
                        Armário embutido
                        Armário embutido no quarto
                        Armário na cozinha
                        Armário no banheiro
                        Bicicletário
                        Box blindex
                        Brinquedoteca
                        Câmera de segurança
                        Circuito de segurança
                        Closet
                        Condomínio fechado
                        Conexão à internet
                        Coworking
                        Cozinha americana
                        Depósito
                        Elevador
                        Entrada de serviço
                        Espaço gourmet
                        Espaço Pet
                        Gerador elétrico
                        Imóvel de esquina
                        Interfone
                        Isolamento acústico
                        Jardim
                        Lavanderia
                        Mobiliado
                        Muro de escalada
                        Pé direito alto
                        Perto de escolas
                        Perto de hospitais
                        Perto de shopping
                        Perto de transporte público
                        Perto de vias de acesso
                        Piscina
                        Piscina aquecida
                        Piscina coberta
                        Portão eletrônico
                        Portaria 24h
                        Recepção
                        Sala de jantar
                        Sala de reunião
                        Salão de festas
                        Sauna
                        Segurança 24h
                        Serviços pay per use
                        Spa
                        Varanda
                        Vestiário para diaristas
                    </p>
                    <div class="opc-div"></div>
                    <button @onclick="ToggleDescription">
                        @(isExpanded ? "Mostrar menos" : "Ler descrição completa")
                        <i class='bx @(isExpanded ? "bx-chevron-up" : "bx-chevron-down")'></i>
                    </button>
                </div>
            </div>

            <div class="imv-card">
                <div class="imv-flex icon-close" @onclick="ToggleAccordion">
                    <h3>Características</h3>
                    <i class='bx @(isContentVisible ? "bxs-chevron-up" : "bxs-chevron-down")'></i>
                </div>
                @if (isContentVisible)
                {
                    <ul class="feature-itens">
                        <li>Ar Condicionado</li>
                        <li>Área de Lazer</li>
                        <li>Área de Serviço</li>
                        <li>Churrasqueira</li>
                        <li>Cozinha com Armários</li>
                        <li>Despensa</li>
                        <li>Escritório</li>
                        <li>Guarita</li>
                        <li>Interfone</li>
                        <li>Jardim</li>
                        <li>Lavabo</li>
                        <li>Lazer no Pilotis</li>
                        <li>PlayGround</li>
                        <li>Portão Eletrônico</li>
                        <li>Salão de Festas</li>
                        <li>Salão Gourmet</li>
                        <li>Varanda</li>
                        <li>Projeto de Iluminação</li>
                        <li>Área de Serviço Coberta</li>
                        <li>Piso em Porcelanato</li>
                        <li>Vista Livre</li>
                        <li>Cozinha Espaçosa</li>
                        <li>Pintura Nova</li>
                    </ul>
                }
            </div>

            <div class="imv-card" id="location">
                <div class="imv-flex icon-close" @onclick="ToggleAccordion2">
                    <h3>Localização</h3>
                    <i class='bx @(isContentVisible2 ? "bxs-chevron-up" : "bxs-chevron-down")'></i>
                </div>
                @if (isContentVisible2)
                {
                    <div class="imv-map">
                        <h4>Rua Exemplo, 123, Complemento, Bairro</h4>
                        <div class="maps-center">
                            <div class="tabs-container">
                                <div class="tab-content inner content-1 active" id="mapa">
                                    <div id="div-map" class="map-imovel">
                                        <button class="btn btn-link btn-block btn-map-imovel">
                                            <i class='bx bxs-map'></i><br />
                                            <strong>Clique para carregar o mapa.</strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="imv-warning">
                <h3><i class='bx bx-error-circle'></i>  Atenção</h3>
                <p>Os valores e informações exibidos poderão sofrer mudanças sem aviso prévio. Por este motivo, todos os dados deverão ser confirmados pelo departamento comercial da Rede Imóveis. Nunca faça transferências ou quaisquer adiantamentos sem conferência e/ou visita do imóvel.</p>
                <button class="form-submit denounce-btn">
                    Denunciar Anúncio
                </button>
            </div>
        </div>
    </div>
</section>

@code {
    private bool isExpanded = false;

    private string paragraphClass => isExpanded ? "active" : "";

    private void ToggleDescription()
    {
        isExpanded = !isExpanded;
    }

    private string heartIconClass = "favorite-btn bx bx-heart logged";

    private void ToggleHeartClass()
    {
        if (heartIconClass.Contains("bx-heart"))
        {
            heartIconClass = "favorite-btn bx bxs-heart logged"; // Muda para o ícone cheio
        }
        else
        {
            heartIconClass = "favorite-btn bx bx-heart logged"; // Muda para o ícone vazio
        }
    }


    private bool isContentVisible = true;

    private void ToggleAccordion()
    {
        isContentVisible = !isContentVisible;
    }

    private bool isContentVisible2 = true;

    private void ToggleAccordion2()
    {
        isContentVisible2 = !isContentVisible2;
    }
}
